/* All custom attributes related to the documentation */
/* line 3, ../sass/custom.scss */
.demo-head { min-height: 100px; padding: 2rem; }
/* line 7, ../sass/custom.scss */
.demo-head h1 { width: auto; color: #fff; }
/* line 13, ../sass/custom.scss */
.demo-head span.caption { font-size: 1rem; font-weight: 300; line-height: 46px; color: #fff; }

/* line 23, ../sass/custom.scss */
.demo-main .content-row { margin: 0; margin-top: 15px; margin-bottom: 15px; }
/* line 29, ../sass/custom.scss */
.demo-main code { width: 100%; background-color: #ddd; min-height: 50px; display: flex; justify-content: center; align-items: center; flex-direction: row; }
